#headerdiv{
	position: absolute;
	height: 14%;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(12, 36, 64, 0.1);
	border-radius: 10%;
}

#logo{
	position: absolute;
top: 0;
height: 100%;
}

#phonediv{
	position: absolute;
	height: 60%;
	top: 15%;
	display: block;
	background: #FFFFFF;
	background-repeat: no-repeat;
	background-image: url("phone.png");
	background-size: 100% 100%;
	z-index: -99;
}

#phonetextdiv{
	position: absolute;
	height: 65%;
	left: 11.4%;
	top: 16.5%;
}

#appluyenoitienganh{
font-family: BrownVN;
font-style: normal;
font-weight: bold;
font-size: 2.8vw;

display: block;
color: #0C2440;
}

#voielsaspeak{

height: 15%;
font-family: BrownVN;
font-style: normal;
font-weight: bold;
font-size: 1.3vw;
line-height: 10%;
display: block;

color: #06BAE8;
}

#firstbutton{
background: linear-gradient(80.25deg, #3DFFC8 1.31%, #40F6CF 15.32%, #49DCE1 38.61%, #57B3FF 68.19%);
box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
border-radius: 20px;
}

#dangkyngay{
width: 100%;
height: 42px;
font-family: BrownVN;
font-style: normal;
font-weight: bold;
font-size: 2vw;
line-height: 2vw;

color: #FFFFFF;
}

#phonediv2{
	top: 75%;
	width: 100%;
	height: 120%;
	left: 0;
	position: absolute;
	background: #FFFFFF;
	background-image: url("phone2.png");
	background-size: 100% 100%;
	z-index: -99;
}


#header-form-fiv{
	background: linear-gradient(81.84deg, #49DCE1 1.09%, #39A3FB 96.86%);
	box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
	border-radius: 15px 15px 0px 0px;
}

#cungungdung{
	width: 100%;
	font-family: BrownVN;
	font-style: normal;
	font-weight: bold;
	font-size: 2.5vw;
	line-height: 49px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

.formtext{
	font-family: BrownVN;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 33px;
	display: flex;
	align-items: center;

	color: #06BAE8;

}

.radiotext{
	font-family: BrownVN;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 33px;
	align-items: center;
}

#registerbutton{
	background: linear-gradient(80.25deg, #3DFFC8 1.31%, #40F6CF 15.32%, #49DCE1 38.61%, #57B3FF 68.19%);
	box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
	border-radius: 20px;
}

#registertext{
	font-family: BrownVN;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 42px;
	color: #FFFFFF;
}